* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #5200a3;
  color: var(--white);
}

html {
  font-size: 10px;
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}
button {
  cursor: pointer;
}
a:hover,
a:active {
  color: #d100d1;
  cursor: pointer;
}

li {
  list-style: none;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
