#hero {
  display: grid;
  padding-top: 7rem;
  grid-template-columns: 1fr 1fr;
  background: #f2e6ff;
}

.hero__image img {
  width: 48rem;
  height: 48rem;
  height: auto;
  max-width: 100%;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  gap: 3rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hero__content h1 {
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.5px;
}
.hero__content span {
  color: #962eff;
}
.hero__content p {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.12rem;
  color: #1a001a;
}
.hero__cta {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1.3rem 2.5rem;
  width: fit-content;
  background: rgba(45, 20, 66, 0.9);
  box-shadow: 5px 5px 8px rgba(45, 20, 66, 0.9);
  color: #ffe6ff;
  border-radius: 8px;
  transition: all 0.3s;
}

.hero__cta:hover {
  background: #800080;
  color: #ffe6ff;
  transform: translateY(-2px);
}
#about {
  padding: 6rem 8rem;
}
.about__content {
  display: flex;
  gap: 10rem;
}

.about__title,
.features__title,
.plans-title {
  font-weight: 700;
  font-size: 4rem;
  color: #3b0075;
  margin-bottom: 2rem;
  text-align: center;
}

.about__title:hover,
.features__title:hover,
.plans-title:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
#about h2 {
  font-size: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.543);
  margin-bottom: 1rem;
}
.about__content img {
  width: 35rem;
}
.about__text {
  font-size: 1.6rem;
  text-align: justify;
  margin: 3rem 0 6rem 0;
  line-height: 2;
}
#features {
  background-color: #ccccff74;
  padding: 6rem 8rem;
}
.features__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 5rem;
}

.features__item {
  margin-bottom: 2rem;
  border-radius: 5px;
  width: 28rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.2);
}
.features__item:hover {
  transform: translateY(2px);
  background: #ffffff61;
}

ion-icon {
  color: #7f00ff;
  font-size: 32px;
}

.features__name {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.two-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.features__desc {
  font-size: 1.5rem;
}
.features__image {
  width: 45rem;
  height: 45rem;
}
.section-plans {
  padding: 6rem 8rem;
  text-align: center;
  padding: 6rem 2rem;
  background: #f8f6ff;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
}

.card {
  perspective: 150rem;
  position: relative;
  width: 32rem;
  height: 46rem;
  cursor: pointer;
  transition: transform 0.8s;
  overflow: hidden;
  margin-top: 3rem;
}

.card__side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
  transition: transform 0.8s ease;
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__side--back-1 {
  background: linear-gradient(135deg, #240047, #6c4cf7);
}

.card__side--back-2 {
  background: linear-gradient(135deg, #b37aff, #7d4bff);
}

.card__picture--2 {
  height: 23rem;
  background: linear-gradient(
      135deg,
      rgba(232, 226, 255, 0.8),
      rgba(83, 61, 166, 0.8)
    ),
    url("../assets/images/woman-bg.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture {
  height: 23rem;
  background: linear-gradient(
      135deg,
      rgba(232, 226, 255, 0.8),
      rgba(83, 61, 166, 0.8)
    ),
    url("../assets/images/notepad-laptop-concept.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: #5a3fbc;
  margin-top: 1.5rem;
}

.card__heading-span {
  background: linear-gradient(135deg, #b49dfc, #8c6ff8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

.card__details {
  padding: 2rem;
}

.card__details li {
  font-size: 1.5rem;
  color: #4a4a4a;
  padding: 0.6rem 0;
  margin: 1.5rem;
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.card__price-only {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.btn {
  display: block;
  background: #fff;
  color: #6b46f2;
  border: none;
  padding: 0.8rem 1.7rem;
  border-radius: 2.5rem;
  font-size: 2rem;

  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #6b46f2;
  color: #fff;
  transform: scale(1.02);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.ribbon {
  position: absolute;
  top: 20px;
  left: -60px;
  background: linear-gradient(45deg, #a855f7, #7e22ce);
  color: #fff;
  z-index: 50;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 0.8rem 8rem;
  transform: rotate(-45deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#how-it-works {
  padding: 6rem 8rem;
}

.how-item {
  display: flex;
  gap: 7rem;
}
.how-item img {
  width: 50rem;
  height: 30rem;
}
.how-text {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  gap: 2rem;
}
.how-text h3 {
  font-size: 2.2rem;
}
.how-text p {
  font-size: 1.6rem;
  margin-right: 8rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-align: justify;
}
.how-image-1 img {
  width: 40rem;
  height: 30rem;
}
.how__image img {
  width: 40rem;
  height: 40rem;
}

.how__content {
  display: flex;
  margin: 5rem;
  gap: 5rem;
}
.how__content-text p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: justify;
}
.how__content-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer {
  background-color: #0d001a;
  color: #e0d7f5;
  padding: 5rem 8rem;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 auto;
}

.footer__text {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #dcd0ff;
}

.footer__heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: #c69fff;
  margin-bottom: 1.2rem;
}
.social-logos {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}
.social-logos ion-icon {
  font-size: 1.8rem;
  color: #c48aff;
}
.social-logos ion-icon:hover {
  font-size: 1.8rem;
  color: #f3f2f4;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list li {
  margin-bottom: 0.8rem;
}

.footer__list a {
  font-size: 1.4rem;
  color: #dcd0ff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__list a:hover {
  color: #f3f2f6;
}
.footer__contact p {
  margin: 5px 0;
  font-size: 1.4rem;
}

.footer__copyright {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.3rem;
  padding-top: 2rem;
  color: #b8a7e0;
  border-top: 1px dashed #f2e6ff;
}

@media (max-width: 1044px) {
  .hero__content h1 {
    font-size: 4rem;
  }
  .features__grid {
    gap: 3rem;
  }

  .features__item {
    margin-bottom: 1rem;
    width: 26rem;
    padding: 4rem;
  }
  .features__image {
    width: 38rem;
    height: 40rem;
  }
  .two-features {
    gap: 1.5rem;
  }
}

@media (max-width: 950px) {
  #hero {
    padding-top: 12rem;
  }
  .features__item {
    width: 23rem;
    padding: 2.5rem;
  }
  .features__image {
    width: 28rem;
    height: 40rem;
  }
  .how-image-1 img {
    width: 35rem;
    height: 35rem;
  }
  .how__image img {
    width: 40rem;
    height: 40rem;
  }
}
@media (max-width: 870px) {
  .hero__image img {
    width: 40rem;
    height: 40rem;
  }
  .hero__content,
  .how__content,
  .how-item,
  .about__content {
    gap: 2rem;
  }
  .about__title,
  .features__title,
  .plans-title {
    margin: 5rem 0;
  }
  .hero__content,
  #about,
  #features,
  #pricing,
  #how-it-works,
  .footer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .hero__content h1 {
    font-size: 3.5rem;
    letter-spacing: 1px;
  }
  .features__grid {
    grid-template-columns: 1fr;
  }
  .features__item {
    margin-top: 5rem;
    width: 100%;
  }
  .features__image {
    width: 30rem;
    margin-top: -2rem;
  }
  .features__image-box,
  .how-image-1 {
    text-align: center;
  }
  .features__desc {
    font-size: 2rem;
  }
}
@media (max-width: 810px) {
  #hero {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }

  .about__content img {
    width: 28rem;
  }

  .features__item {
    padding: 4.5rem 3rem;
  }
  .how__content {
    margin: 3rem 1rem;
    gap: 3rem;
  }
  .how-text p {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .hero__content {
    gap: 4rem;
  }
  .plans {
    flex-direction: column;
    align-items: center;
  }
  .how-item,
  .how__content {
    gap: 1rem;
  }
  .about__content {
    gap: 3rem;
  }
  .card {
    width: 60%;
    height: auto;
    box-shadow: none;
    background-color: #fff;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.2);
  }
  .card__details li {
    font-size: 1.8rem;
    margin: 1rem;
  }
  .card__details {
    padding: 1rem 2rem;
  }
  .card__side {
    position: relative;
    height: auto;
    transform: rotateY(0) !important;
    box-shadow: none;
  }

  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }

  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem;
  }
  .card__side {
    border-top-right-radius: 0;
  }
  .card__price-value {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  .btn {
    width: 70%;
    margin-left: 4.5rem;
  }
}

@media (max-width: 700px) {
  .hero__content {
    padding-right: 2rem;
  }
  .hero__image {
    text-align: center;
  }
  .hero__image img {
    width: 30rem;
    height: 32rem;
  }
  .about__content,
  .how-item,
  .how__content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
  }
  .how-image-1 {
    text-align: center;
    margin-bottom: 5rem;
  }
  .about__text,
  .how-text {
    margin-top: -3rem;
    font-size: 1.8rem;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 70%;
  }
  .card__details li {
    font-size: 2rem;
  }
  .how__image {
    order: -1;
  }
  .how__content-text h3 {
    font-size: 2rem;
    text-align: start;
  }
  .how__content-text p {
    font-size: 1.8rem;
  }
}

@media (max-width: 570px) {
  #hero {
    grid-template-columns: 1fr;
  }
  .hero__content h1 {
    width: 70%;
    font-size: 4rem;
  }
  .hero__content p {
    font-size: 2rem;
  }
  .how-image-1 img {
    width: 35rem;
    height: 35rem;
  }
  .how__image img {
    width: 30rem;
    height: 30rem;
  }
  .card {
    width: 90%;
  }
  .two-features {
    grid-template-columns: 1fr;
  }
  .features__item {
    text-align: center;
    width: 90%;
    margin-left: 2rem;
    margin-top: -0.05rem;
  }
}

@media (max-width: 450px) {
  .hero__content,
  #about,
  #features,
  #pricing,
  #how-it-works,
  .footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .features__image,
  .how-image-1 img,
  .how__image img {
    width: 25rem;
    height: 25rem;
  }

  .card {
    width: 100%;
  }
}
