/* toggle switch */
/* From Uiverse.io by JkHuger */
.switch-bulb {
  display: block;
  margin: 1.5rem 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.489);
  border-radius: 0.75rem;
  box-shadow: 0.125rem 0.125rem 0 0.125rem rgba(0, 0, 0, 0.1) inset;
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  width: 3rem;
  height: 1.8rem;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.switch-bulb:before,
.switch-bulb:after {
  content: "";
  display: block;
}

.switch-bulb:before {
  background-color: currentColor; /* bulb ON color */
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  transform: translateX(125%);
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}

.switch-bulb:after {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% /
      50% 100%,
    repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%)
      0 50% / 50% 100%,
    radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25rem solid transparent;
  border-left: 0.4rem solid currentColor;
  border-right: 0 solid transparent;
  transform: translateX(-2.5%) rotateY(180deg);
  transform-origin: 25% 50%;
  width: 1.2rem;
  height: 1rem;
  box-sizing: border-box;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
}

/* Checked = dark mode (bulb OFF) */
.switch-bulb:checked {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0.125rem 0.125rem 0 0.125rem rgba(0, 0, 0, 0.3) inset;
}

.switch-bulb:checked:before {
  background-color: #d7d7d7;
  transform: translateX(0%);
}

.switch-bulb:checked:after {
  border-left-color: #d8d8d8;
  transform: translateX(-22.5%) rotateY(0deg);
}

.switch-bulb:focus {
  outline: 0;
}

body.dark-mode {
  background: linear-gradient(135deg, #1f1529, #2b1f39, #120a1a);
  color: #e2d9f3;
}

body.dark-mode #about {
  background-color: #181818;
  color: #fff;
}

body.dark-mode #features {
  background-color: #000;
  color: #e2d9f3;
}

body.dark-mode .features__item,
body.dark-mode .login-div,
body.dark-mode .signup-div {
  background: linear-gradient(135deg, #1f1529, #2b1f39, #120a1a);
  background: #24172f;
  border: 1px solid #3a2d47;
}
body.dark-mode .features__item:hover {
  transform: translateY(2px);
  background: #d9c2ff;
}
body.dark-mode .about__title,
body.dark-mode .features__title,
body.dark-mode .plans-title {
  color: #962eff;
}

body.dark-mode #about h2 {
  color: #e2d9f3;
}
body.dark-mode #hero {
  background: #000;
  color: #cfc4dd;
  box-shadow: 0px 0px 20px #160827, 0px 0px 35px rgba(45, 20, 66, 0.9);
}
body.dark-mode nav,
body.dark-mode .dashboard-header {
  background: #181818;
  color: #e2d9f3;
  border-bottom: 1px solid #716f74;
}
body.dark-mode .hero__cta {
  background-color: #962eff;
  box-shadow: 5px 5px 2px rgb(150, 46, 255);
}

body.dark-mode .hero__cta:hover {
  background: #21073b;
  color: #ffe6ff;
  transform: translateY(-2px);
}
body.dark-mode .hero__content p {
  color: #919191;
}

body.dark-mode .section-plans,
body.dark-mode .card {
  background: linear-gradient(135deg, #1f1529, #2b1f39, #120a1a);
  color: #e2d9f3;
}
body.dark-mode .signup-container,
body.dark-mode .login-container {
  background-color: #120a1a;
  color: #e2d9f3;
}

body.dark-mode .how__content-text h3 {
  color: #914fe8;
}
body.dark-mode .input-group label {
  color: #d8d8d8;
  font-weight: 200;
}
body.dark-mode .auth-switch {
  color: #e2d9f3;
}
body.dark-mode .nav__list {
  background: #181818;
}

body.dark-mode .nav__list a {
  color: #e2d9f3;
}
body.dark-mode #dashboard-overview {
  background-color: #160827;
  box-shadow: 0px 2px 10px #19191a;
}

body.dark-mode .to-do,
body.dark-mode .task-status,
body.dark-mode .completed-task {
  background-color: #262627;
}

body.dark-mode .modal-form {
  background-color: #201f20;
}
body.dark-mode .modal-form label,
body.dark-mode .modal-form h2,
body.dark-mode .modal-form .form-title button {
  color: #eeecec;
}
body.dark-mode .modal-form input,
body.dark-mode .modal-form textarea,
body.dark-mode #search {
  background-color: #49474b;
  color: white;
}
body.dark-mode .task-card,
body.dark-mode .task-card h4 {
  background-color: #444;
  color: #dcd0ff;
}

body.dark-mode #allTasksList,
body.dark-mode #vital-tasks-section {
  background-color: #120a1a;
}
